.stats-table {
  td, th {
    border: 0.1rem solid #ffffff69;
    padding: .5rem 1rem;
    text-align: left;
  }

  border-collapse: collapse;
  border-radius: .25rem;
}


.table-container {
  display: flex;
  justify-content: center;
  margin-top: 10rem;
}


.play-again {
  text-align: center;
  margin: 4rem;

  a {
    text-decoration: none;
    color: white;
    font-size: 2rem;
  }
}

.game-config-info {
  background-color: rgba(0, 0, 0, .25);
  padding: .25rem;
  display: flex;
  flex-flow: row wrap;

  .info {
    padding: 1rem;
  }
}

.player-queue {
  background-color: rgba(0, 0, 0, .25);
  padding: .25rem;
  display: flex;
  flex-flow: row wrap;

  .queue-element {
    padding: 1rem 0 1rem 1rem;

    .next-icon {
      padding: 1rem;

      &.hidden {
        display: none;
      }
    }
  }
}
